h2=model.attributes.label
p.address Adresse: #{model.attributes.location.address}
span.lat Latitude: #{model.attributes.location.lat}
span.lng longitude: #{model.attributes.location.lng}
-if(model.attributes.review)
    span.review Review moyenne: #{model.attributes.review.average}
-else
    span.review Pas de review moyenne renseignée.