for item in items
    div.hostel.list(data-id=item.id)
        h2=item.attributes.label
        p.address Adresse: #{item.attributes.location.address}
        span.lat Latitude: #{item.attributes.location.lat}
        span.lng longitude: #{item.attributes.location.lng}
        span.review Review moyenne: #{item.attributes.review.average}