h2=model.attributes.label
p.address Adresse: #{model.attributes.location.address}
span.lat Latitude: #{model.attributes.location.lat}
span.lng longitude: #{model.attributes.location.lng}
span.review Review moyenne: #{model.attributes.review.average}